#map_event {
    height: 400px;
    width: 100%;
    margin-bottom: 15px;
}

    #event_info_card,
    #map_event {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    overflow: hidden; 
}

.card img {
    height: 150px; 
    object-fit: cover; 
}

#event_info_card {
    margin-bottom: 15px; 
    height: 400px;
    
}

#ticketing {
    width: 100%;
    display: block; 
}