@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navbar-nav {
    justify-content: center;
    width: 100%;
}

#submitbtn {
    background-color: #94b3c0;
    border-radius: 5px;
    border: 0px;
    color: #2B3E4F;
}

#submitbtn:hover {
    background-color: #708b97;
    border-radius: 5px;
    border: 0px;
    color: #2B3E4F;
}


.formcard {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15), 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.dateplaceholder::placeholder {
    font-style: italic;
    font-size: large;
    color: rgb(170, 170, 170);
}







.pt-serif-regular {
    color: #727272;
    font-family: "PT Serif", serif;
    font-size: 1.5rem;
    font-weight: 50;
    font-style: italic;
}

.navbar-brand {
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    color: #000000;
}

.nav-link {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: #727272;
}