@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navbar-nav {
    justify-content: center;
    width: 100%;
}

.pt-serif-regular {
    color: #727272;
    font-family: "PT Serif", serif;
    font-weight: 50;
    font-style: italic;
}

.navbar-brand {
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    color: #000000;
}

.nav-link {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: #727272;
}


.post {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    background: rgb(244, 244, 244);
}

.post img {
    width: 40%;
    height: 40%;
    border-radius: 5px;
    margin-right: 20px;
}

.post-content {
    flex: 1;
}

.post h2 {
    font-family: "PT Serif", serif;
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}

.post p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.read-more {
    font-family: "PT Serif", serif;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
    text-decoration: underline;
}