.citycard {
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 !important;
}

.country_details {
    border-radius: 0;
    text-align: center;
    align-content: center;
    border: 0.5px solid;
    border-right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 30px 40px 0 rgba(255, 255, 255, 0.2) inset;
    background-color: #467D99;
    border-color: #002436;
    /* add !important if changing button*/
}

.date_details {
    border-radius: 0;
    text-align: center;
    align-content: center;
    border: 0.5px solid;
    border-right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 30px 40px 0 rgba(255, 255, 255, 0.2) inset;

    background-color: #467D99;
    border-color: #326a86;

}

.edit_details {
    border-radius: 0;
    text-align: center;
    align-content: center;
    border: 0.5px solid;
    background-color: #326a86;
    border-color: #326a86;
}

.more_details {
    background-color: #e9e9e9 !important;
    color: #2B3E4F;
    border-radius: 0 !important;

}


.citycard:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.img-full {
    width: 100%;
    height: auto;
    display: block;
}