@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.navbar-nav {
    justify-content: center;
    width: 100%;
}


.pt-serif-regular {
    color: #727272;
    font-family: "PT Serif", serif;
    font-weight: 50;
    font-style: italic;
}

.navbar-brand {
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    color: #000000;
}

.nav-link {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: #727272;
}



.citycard {
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

}

.citycardoverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.citycarddetails {
    display: flex;
    color: white;
    opacity: 1;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.citytitle {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-weight: 400;
    opacity: 1;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-size: 1.8rem !important;
    padding: 0px !important;
}


.country_details {

    text-align: center;
    align-content: center;
    border: 0.5px solid;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.03) inset, 0px 4px 20px 0 rgba(0, 0, 0, 0.03) inset;
    background-color: rgba(186, 207, 216, 0.7);
    border-color: #36525f;
    /* add !important if changing button*/
}

.date_details {
    border-radius: 0;
    text-align: center;
    align-content: center;
    border: 0.5px solid;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.03) inset, 0px 4px 20px 0 rgba(0, 0, 0, 0.03) inset;
    background-color: rgba(186, 207, 216, 0.7);
    border-color: #36525f;

}

.edit_details {
    text-align: center;
    align-content: center;
    border: 0.5px solid;
    border-radius: 5px;
    background-color: #94b3c0;
    border-color: #36525f;
}

.edit_details:hover {

    background-color: #708b97;
}


.more_details {
    background-color: #e9e9e9 !important;
    color: #2B3E4F;
    border-radius: 0 !important;

}


.citycard:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.img-full {
    width: 100%;
    height: auto;
    display: block;
}